<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423772474908-6aljlukki080qqbko1slsh1f3ino3a0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423772474908-6aljlukki080qqbko1slsh1f3ino3a0v</string>
	<key>API_KEY</key>
	<string>AIzaSyBh47ETFozIm1dT_-kEYyl4_Xylaf9XzmU</string>
	<key>GCM_SENDER_ID</key>
	<string>423772474908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AppBrrraddy.Test1</string>
	<key>PROJECT_ID</key>
	<string>test1-8664e</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-8664e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423772474908:ios:28b3cb0b5993a0df7759d9</string>
	<key>DATABASE_URL</key>
	<string>https://test1-8664e-default-rtdb.firebaseio.com</string>
</dict>
</plist>